.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.gz
*.properties
*.policy
*.security
runtime/legal/java.scripting/ASSEMBLY_EXCEPTION
runtime/legal/java.scripting/ADDITIONAL_LICENSE_INFO
runtime/legal/java.prefs/LICENSE
runtime/legal/java.prefs/ASSEMBLY_EXCEPTION
runtime/legal/java.prefs/ADDITIONAL_LICENSE_INFO
runtime/legal/java.logging/LICENSE
runtime/legal/java.logging/ASSEMBLY_EXCEPTION
runtime/legal/java.logging/ADDITIONAL_LICENSE_INFO
runtime/release
runtime/lib/tzmappings
runtime/lib/tzdb.dat
runtime/lib/security/public_suffix_list.dat
runtime/lib/security/cacerts
runtime/lib/security/blocked.certs
runtime/lib/psfont.properties.ja
runtime/lib/modules
runtime/lib/jvm.lib
runtime/lib/jvm.cfg
runtime/lib/jrt-fs.jar
runtime/lib/jawt.lib
runtime/lib/fontconfig.properties.src
runtime/lib/fontconfig.bfc
runtime/lib/classlist
runtime/legal/jdk.unsupported/LICENSE
runtime/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
runtime/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
runtime/legal/java.xml/xerces.md
runtime/legal/java.xml/xalan.md
runtime/legal/java.xml/LICENSE
runtime/legal/java.xml/jcup.md
runtime/legal/java.xml/dom.md
runtime/legal/java.xml/bcel.md
runtime/legal/java.xml/ASSEMBLY_EXCEPTION
runtime/legal/java.xml/ADDITIONAL_LICENSE_INFO
runtime/legal/java.scripting/LICENSE
runtime/legal/java.desktop/mesa3d.md
runtime/legal/java.desktop/LICENSE
runtime/legal/java.desktop/libpng.md
runtime/legal/java.desktop/lcms.md
runtime/legal/java.desktop/jpeg.md
runtime/legal/java.desktop/harfbuzz.md
runtime/legal/java.desktop/giflib.md
runtime/legal/java.desktop/freetype.md
runtime/legal/java.desktop/colorimaging.md
runtime/legal/java.desktop/ASSEMBLY_EXCEPTION
runtime/legal/java.desktop/ADDITIONAL_LICENSE_INFO
runtime/legal/java.datatransfer/LICENSE
runtime/legal/java.datatransfer/ASSEMBLY_EXCEPTION
runtime/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
runtime/legal/java.base/zlib.md
runtime/legal/java.base/wepoll.md
runtime/legal/java.base/unicode.md
runtime/legal/java.base/siphash.md
runtime/legal/java.base/public_suffix.md
runtime/legal/java.base/LICENSE
runtime/legal/java.base/icu.md
runtime/legal/java.base/cldr.md
runtime/legal/java.base/c-libutl.md
runtime/legal/java.base/ASSEMBLY_EXCEPTION
runtime/legal/java.base/asm.md
runtime/legal/java.base/aes.md
runtime/legal/java.base/ADDITIONAL_LICENSE_INFO
runtime/include/win32/jni_md.h
runtime/include/win32/jawt_md.h
runtime/include/jvmticmlr.h
runtime/include/jvmti.h
runtime/include/jni.h
runtime/include/jawt.h
runtime/include/classfile_constants.h
runtime/conf/security/policy/README.txt
logs/latest.log
logs/latest.log
logs/latest.log
logs/latest.log
*.exe
/jre-custom
/jre-launcher
/logs
logs/latest.log
